div,title,span,p,.p,h1,h2,h3,ul,li,a,td,th,select,input,textarea{
  font-family:Verdana,Arial,Helvetica,Swiss,Futura,sans-serif;font-size:11px;color:black;
}

#header{
  position:absolute;top:0px;left:10px;right:10px;height:70px;
  z-index:0;
  /* As per http://gradientoo.com */
  background:rgba(219,221,197,1);
  background:-ms-radial-gradient(center, ellipse cover, rgba(220,224,115,1) 1.88%, rgba(219,221,197,1) 97.7%);
  background:-moz-radial-gradient(center, ellipse cover, rgba(220,224,115,1) 1.88%, rgba(219,221,197,1) 97.7%);
  background:-o-radial-gradient(center, ellipse cover, rgba(220,224,115,1) 1.88%, rgba(219,221,197,1) 97.7%);
  background:-webkit-gradient(radial,left bottom,left top,color-stop(1.88%,rgba(220,224,115,1)),color-stop(97.7%,rgba(219,221,197,1)));
  background:-webkit-radial-gradient(center, ellipse cover, rgba(220,224,115,1) 1.88%, rgba(219,221,197,1) 97.7%);
  background:radial-gradient(ellipse farthest-corner at center, rgba(220,224,115,1) 1.88%, rgba(219,221,197,1) 97.7%);
  filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='dce073', endColorstr='dbddc5',GradientType=0);
  /* Round the corners */
  -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;
  -moz-box-shadow:0 -1px 3px rgba(0,0,0,0.5);-webkit-box-shadow:0 -1px 3px rgba(0,0,0,0.5);box-shadow:0 -1px 3px rgba(0,0,0,0.5);
}
#feedback{
  position:absolute;top:72px;left:10px;right:10px;height:auto;
  /* As per http://ie.microsoft.com/testdrive/graphics/cssgradientbackgroundmaker/default.html */
  background-image: -ms-linear-gradient(top, #F2FFB3 0%, #C6EEEF 100%);
  background-image: -moz-linear-gradient(top, #F2FFB3 0%, #C6EEEF 100%);
  background-image: -o-linear-gradient(top, #F2FFB3 0%, #C6EEEF 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F2FFB3), color-stop(1, #C6EEEF));
  background-image: -webkit-linear-gradient(top, #F2FFB3 0%, #C6EEEF 100%);
  background-image: linear-gradient(to bottom, #F2FFB3 0%, #C6EEEF 100%);
  /* Round the corners */
  -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;
  -moz-box-shadow:0 -1px 3px rgba(0,0,0,0.5);-webkit-box-shadow:0 -1px 3px rgba(0,0,0,0.5);box-shadow:0 -1px 3px rgba(0,0,0,0.5);
}
#menu{
  position:absolute;top:72px;left:10px;width:270px;
  z-index:1;
  /* As per http://ie.microsoft.com/testdrive/graphics/cssgradientbackgroundmaker/default.html */
  background-image: -ms-linear-gradient(top, #E3FFFF 0%, #C6EEEF 100%);
  background-image: -moz-linear-gradient(top, #E3FFFF 0%, #C6EEEF 100%);
  background-image: -o-linear-gradient(top, #E3FFFF 0%, #C6EEEF 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E3FFFF), color-stop(1, #C6EEEF));
  background-image: -webkit-linear-gradient(top, #E3FFFF 0%, #C6EEEF 100%);
  background-image: linear-gradient(to bottom, #E3FFFF 0%, #C6EEEF 100%);
  /* Round the corners */
  -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;
  -moz-box-shadow:0 -1px 3px rgba(0,0,0,0.5);-webkit-box-shadow:0 -1px 3px rgba(0,0,0,0.5);box-shadow:0 -1px 3px rgba(0,0,0,0.5);
}
#content{
  position:absolute;top:72px;left:282px;right:10px;height:auto;
  z-index:2;
  /* As per http://ie.microsoft.com/testdrive/graphics/cssgradientbackgroundmaker/default.html */
  background-image: -ms-linear-gradient(top, #F2FFB3 0%, #C6EEEF 100%);
  background-image: -moz-linear-gradient(top, #F2FFB3 0%, #C6EEEF 100%);
  background-image: -o-linear-gradient(top, #F2FFB3 0%, #C6EEEF 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F2FFB3), color-stop(1, #C6EEEF));
  background-image: -webkit-linear-gradient(top, #F2FFB3 0%, #C6EEEF 100%);
  background-image: linear-gradient(to bottom, #F2FFB3 0%, #C6EEEF 100%);
  /* Round the corners */
  -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;
  -moz-box-shadow:0 -1px 3px rgba(0,0,0,0.5);-webkit-box-shadow:0 -1px 3px rgba(0,0,0,0.5);box-shadow:0 -1px 3px rgba(0,0,0,0.5);
}

a:link,a:visited{
  color:#0000FF;text-decoration:none;font-family:Garamond,Georgia,serif;
}

select,input.text{background:#FFFAFA none;}
textarea{width:98%;}

input:focus,textarea:focus,select:focus{background-color:#EFFBF8;box-shadow:3px 3px 5px black;}
input:blur,textarea:blur,select:blur{background-color:#FFFAFA}
input.reset{color:#c09;font-size:90%;background:#CCFFCC none;-moz-border-radius:5px;-webkit-border-radius:5px}
input.submit{color:maroon;font-weight:bold;background:#CCFFCC none;-moz-border-radius:5px;-webkit-border-radius:5px}
input[disabled="disabled"],input.disabled{color:GrayText;}

.textwrapper{border:1px solid #999999;margin:5px 0;padding:3px;}
.boldcenter18{
  font-family:Georgia,"Trebuchet MS",Droid sans,sans;
  text-align:center;font-size:18px;font-weight:bold;
  text-shadow:-1px 1px 0 #ddd,-2px 2px 0 #c8c8c8,-3px 3px 0 #ccc,
    0px 1px 1px rgba(0,0,0,.4),0px 2px 2px rgba(0,0,0,.3),
    -1px 3px 3px rgba(0,0,0,.2),-1px 5px 5px rgba(0,0,0,.1);
}
.bold13{font-size:13px;font-weight:bold;}
.boldblue13{font-size:13px;font-weight:bold;color:#00BFFF;}
.copyright{font-size:8px;text-align:right;color:#FFCCC2}
