body
{
 width:640px;margin-left:auto;margin-right:auto;
 /* As per http://ie.microsoft.com/testdrive/graphics/cssgradientbackgroundmaker/default.html */
 background-image: -ms-linear-gradient(top, #F2FFB3 0%, #C6EEEF 100%);
 background-image: -moz-linear-gradient(top, #F2FFB3 0%, #C6EEEF 100%);
 background-image: -o-linear-gradient(top, #F2FFB3 0%, #C6EEEF 100%);
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F2FFB3), color-stop(1, #C6EEEF));
 background-image: -webkit-linear-gradient(top, #F2FFB3 0%, #C6EEEF 100%);
 background-image: linear-gradient(to bottom, #F2FFB3 0%, #C6EEEF 100%);
}
div,title,span,p,.p,h1,h2,h3,ul,li,a,td,th,select,input,textarea
{
 font-family:Verdana,Arial,Helvetica,Swiss,Futura,sans-serif;font-size:11px;color:#090909;
}
select,textarea{
 -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;
}
form.login{
 width:200px;padding:20px;border:1px solid #270644;
 margin-left:auto;margin-right:auto;
 background:#E6E6E6;
 background:-moz-radial-gradient(center center,#FFFFFF,#E6E6E6);
 background:-webkit-gradient(radial,50% 50%,50% 100%,from(#FFFFF),to(#E6E6E6));
 background:-ms-webkit-gradient(radial,50% 50%,50% 100%,from(#FFFFF),to(#E6E6E6));
 -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;
 -moz-box-shadow:0 -1px 3px rgba(0,0,0,0.5);-webkit-box-shadow:0 -1px 3px rgba(0,0,0,0.5);box-shadow:0 -1px 3px rgba(0,0,0,0.5);
}
.i_box
{
 width:640px;margin-left:auto;margin-right:auto;
 padding:10px;border:1px solid #270644;
 background:#E6E6E6;
 background:-moz-radial-gradient(center center,#FFFFFF,#E6E6E6);
 background:-webkit-gradient(radial,50% 50%,50% 100%,from(#FFFFF),to(#E6E6E6));
 background:-ms-webkit-gradient(radial,50% 50%,50% 100%,from(#FFFFF),to(#E6E6E6));
 -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;
 -moz-box-shadow:0 -1px 3px rgba(0,0,0,0.5);-webkit-box-shadow:0 -1px 3px rgba(0,0,0,0.5);box-shadow:0 -1px 3px rgba(0,0,0,0.5);
}
